

/* Imatge -------------------------------------------------- */
.imatge img {
    width: 100%;
    height: auto;
    display: block;
}

/* Article -------------------------------------------------- */
.article {
    padding: 20px;
    display: grid;
    grid-template-rows: auto;
    width: 80%;
    align-items: center;
    text-align: center;
    background-color: #dfdfdf;
    margin: 0 auto;
}

.article-title p {
    text-align: left; 
    justify-content: left;
    align-items: left;
    margin: 0;
    margin-top: 2%;
}

.header-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left;
    margin: 0 auto;
    margin-top: 2%;
}

.header-items img {
    max-width: 100px;
    max-height: 100px;
}

.header-item {
    display: grid;
    grid-template-rows: 15% 85%;
    text-align: left;
}

.header-item .span {
    font-weight: bold;
    margin-bottom: 10%;
    font-size: large;
    color: #696969;
}

.header-item div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    width: 100%; 
    box-sizing: border-box; 
}

.grid-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgb(148, 148, 148);
    text-align: left;
    background-color: white;
    font-size: small;
}

.grid-item img {
    max-width: 100%;
    height: auto; 
    display: block; 
}

.article-title {
    color: #e54c08;
    font-size: 24px;
    text-align: left;
    border-bottom: 1px solid #4b4b4b;
}

