/* Body -------------------------------------------------- */
body {
    margin: 0;
}


/* Header -------------------------------------------------- */
.header {
    background-color: #dfdfdf;
    padding: 20px;
    text-align: center;
}

.header a {
    background-color: #333;
    color: aliceblue;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}

.header a:hover {
    background-color: orangered;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Imatge -------------------------------------------------- */
.imatge img {
    width: 100%;
    height: auto;
    display: block;
}

/* Article -------------------------------------------------- */
.article {
    background-color: #dfdfdf;
    padding: 20px;
    text-align: center;
}

.article h2 {
    color: #e54c08;
    font-size: 24px;
    margin-bottom: 10px;
}

.article p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
/* Footer -------------------------------------------------- */
.footer {
    background-color: #dfdfdf;
    padding: 20px;
    text-align: center;
}